@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Fondamento', cursive;
}

h1 {
  font-size: 562.5%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #026270;
  text-align: center;
  font-size: large;
  font-weight:bolder;
  line-height: 2;
}

hr{
  border: dotted #add8e6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {

	color: #181B49;
	outline: none;
}

.login{    
	text-decoration: none;
	color: var(--color-link);
	outline: none;

}

.login:hover{
	font-size:25px;
	color: #FF6700;
}

a:hover {
	text-decoration: none;
	color: #005AFC;
	outline: none;
}
a:visited{

    text-decoration: none;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 50px;
  }
}

.media {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFF;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}



p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 20px;
  letter-spacing:1px;
  color: #026270;
}

.media:hover  .layer{
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}



  

.hobbie-container{
 background-color:whitesmoke;
 text-align: justify;
 position: relative;
 padding:50px;
}


.top-container .next-container{
margin:100px 0;
background: linear-gradient(300deg, #024751, #024751, #00D47E, #689197);
background-size: 180% 180%;
animation: gradient-animation 8s ease infinite;
}

.next-container {
margin:5px 40px;
}

/*.next-container{
text-align: center;
margin:30px auto 0;
}*/

@media only screen and (max-width: 767px) {
    .wrapper{
        height: auto;
    }
}

/* ----------------Business Units Table for redirecting ---------------------- */

/* -------------------  Status -------------------*/

.statusD {
color: #625e5e;
font-size: large;
margin-left: 70px;
}

.brandContainer {
 align-content: center;
 background-color:rgb(246, 246, 246);
 padding-right: 80px;
 padding-left: 80px;
 padding-top: 10px;
 margin-bottom: 10%;
 margin-left: 10%;
 margin-right: 10%;
 box-shadow:0.7rem  0.5rem 0.5rem  rgba(55, 54, 54, 0.3);
}

a:visited{
  text-decoration: none;
}

.myViewButton {
position: relative;
cursor: none;
border-radius:3px;
font-family:niveau-grotesk, sans-serif;
font-size:20px;
padding: 4px 8px;
text-decoration:none;
background-color:#dad9d3 ;


}

.myViewButton:hover {
  text-decoration: none;
  color: #FFF;
  box-shadow:0.3rem  0.1rem 0.3rem rgba(55, 54, 54, 0.3);
  
}
.myViewButton:active {
position:relative;
color: #FFF;
top:1px;
}

.input {
  color: #1e1e22;
  font-size: 25px;
 
}